@import './base.less';

:root {
  --text--: #848691;
  --light-text--: #272933;
  --white--: #FFFFFF;
  --orange--: #FF7716;
  --red--: #F20C32;
  --gold--: #F7DBB1;
}

html, body {
  height: 100%;
}
#app {
  height: 100%;
}


